{{- if (default true .Params.breadcrumbs) }}
  <div class="hx-mt-1.5 hx-flex hx-items-center hx-gap-1 hx-overflow-hidden hx-text-sm hx-text-gray-500 dark:hx-text-gray-400 contrast-more:hx-text-current">
    {{- $prevPath := "" -}} <!-- Variable to store the previous path -->
    {{- $prevTitle := "" -}} <!-- Variable to store the previous title -->
    {{- range .Ancestors.Reverse }}
      <!-- Ensure .File exists and handle sections appropriately -->
      {{- if and (not .IsHome) .File }}
        {{- $currentPath := .RelPermalink -}} <!-- Get the current page's path -->
        {{- $currentTitle := partial "utils/title" . -}} <!-- Get the current page's title -->
        
        <!-- Only skip if it's the main section page and its title matches its path or is redundant -->
        {{- if and (ne $currentPath $prevPath) (ne $currentTitle $prevTitle) (not (and (eq .Kind "section") (eq $currentPath .Permalink))) }}
          <!-- Render the breadcrumb link -->
          <div class="hx-whitespace-nowrap hx-transition-colors hx-min-w-[24px] hx-overflow-hidden hx-text-ellipsis hover:hx-text-gray-900 dark:hover:hx-text-gray-100">
            <a href="{{ .RelPermalink }}">{{- $currentTitle -}}</a>
          </div>
          <!-- Render the chevron icon -->
          {{- partial "utils/icon.html" (dict "name" "chevron-right" "attributes" "class=\"hx-w-3.5 hx-shrink-0 rtl:-hx-rotate-180\"") -}}

          <!-- Update previous path and title variables -->
          {{- $prevPath = $currentPath -}}
          {{- $prevTitle = $currentTitle -}}
        {{ end -}}
      {{ end -}}
    {{ end -}}
    <!-- Render the current page title -->
    <div class="hx-whitespace-nowrap hx-transition-colors hx-font-medium hx-text-gray-700 contrast-more:hx-font-bold contrast-more:hx-text-current dark:hx-text-gray-100 contrast-more:dark:hx-text-current">
      {{- partial "utils/title" . -}}
    </div>
  </div>
{{ end -}}
